.queryContainer, h1{
        margin: 15px;
      >label {
        display:inline-block;
        width: 70px;
      }
      >textarea {
        width:100%;
        margin-top:10px;
      }
      >input, textarea, select{
        border:none;
        background-color: aliceblue;
        padding:5px;
        border-radius:7px;
        font-size:0.7rem;
      }
}

.submit{
        width:70px;
        padding:5px;
        border-radius:7px;
}