body {
        text-align:justify;
}

@media (min-width:768px) {
        p, small, h1, h2, h3, h4{
                letter-spacing: 1px;
                line-height: 25px;
        }

        p, small, h1, h2, h3, h4{
                padding: 0 10px;
        }
}

@media (min-width:1024px) {

        p, small, h1, h2, h3, h4{
                letter-spacing: 2px;
                line-height: 35px;
        }

        p{
                font-size:130%;
        }

        small{
                font-size:110%;
        }

        h1{
                font-size: 180%;
        }

        h2{
                font-size: 160%;
        }

        h3{
                font-size: 140%;
        }

        h4{
                font-size: 120%;
        }
}

@media (min-width:1440px){
        
        p{
                font-size:150%;
        }

        small{
                font-size:130%;
        }

        h1{
                font-size: 200%;
        }

        h2{
                font-size: 180%;
        }

        h3{
                font-size: 160%;
        }

        h4{
                font-size: 140%;
        }

}